.body {
  direction: rtl;
  margin: 0;
}
@font-face {
  font-family: "kalameh";
  src: url(font/KalamehWeb_Bold.ttf);
}
.container-fluid {
  width: 1512px;
  height: 90px;
  background-color: white;
  border-bottom: 1px solid #dddbe1;
  font-family: kalameh;
}
.btn-warning {
  color: white;
  border-radius: 24px;
  font-family: kalameh;
}
.nav-link {
  color: black;
}
.container1 {
  width: 1008px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: kalameh;
  margin: 0 auto;
}
.rectangle {
  width: 182.83px;
  height: 100px;
  color: white;
  background-color: black;
  border-radius: 12px;
  text-align: center;
  line-height: auto;
  position: relative;
  top: 30px;
  left: 520px;
  box-shadow: 0 5px 5px grey;
  font-family: kalameh;
  text-align: center;
}
.rectangle1 {
  width: 222.91px;
  height: 100px;
  color: white;
  background-color: black;
  border-radius: 12px;
  text-align: center;
  line-height: auto;
  position: relative;
  top: 300px;
  left: 200px;
  box-shadow: 0 5px 5px grey;
  font-family: kalameh;
  text-align: center;
}
.group-4 {
  width: 1008px;
  height: 110px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 70px;
  font-family: kalameh;
}
.group-5 {
  width: 1008px;
  height: 110px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 70px;
  font-family: kalameh;
}
.text {
  text-shadow: 0 5px 5px grey;
  font-family: kalameh;
}
.polygon {
  width: 40px;
  height: 20px;
  position: relative;
  top: 25px;
  left: 600px;
}
.polygon1 {
  width: 40px;
  height: 20px;
  position: relative;
  top: 185px;
  left: 350px;
}
.container2 {
  width: 1199px;
  height: 648px;
  background-image: url(images/Rectangle\ 4.png);
  margin: 0 auto;
  margin-top: 100px;
}
.container3 {
  width: 1199px;
  height: 648px;
  background: rgba(250, 248, 248, 0.3);
  margin: 0 auto;
  margin-top: 100px;
}
.container4 {
  width: 104px;
  height: 104px;
  margin: 0 auto;
  position: relative;
  top: 280px;
}
.container5 {
  width: 991px;
  height: 345px;
  text-align: right;
  font-family: kalameh;
  margin: 0 auto;
  margin-top: 100px;
}
.title {
  color: #fcb816;
  font-family: kalameh;
}
.btn-light {
  font-family: kalameh;
}
.container6 {
  width: 995px;
  height: 1226px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: kalameh;
}
.box {
  width: 995px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.card1 {
  margin-top: 60px;
}
.card h1 {
  font-weight: bold;
  font-size: 70px;
}

.box img {
  width: 526px;
  height: 330px;
}
.box1 {
  width: 995px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 100px;
}
.box1 img {
  width: 526px;
  height: 330px;
}
.box2 {
  width: 995px;
  height: 63px;
  display: flex;
  justify-content: space-around;
  margin-top: 99px;
  align-items: baseline;
}
.img1 {
  width: 80px;
  height: 29px;
}
.img2 {
  width: 116px;
  height: 31px;
}
.img3 {
  width: 47px;
  height: 47px;
}
.img4 {
  width: 130px;
  height: 63px;
}
.img5 {
  width: 105px;
  height: 26px;
}
.img6 {
  width: 107px;
  height: 25px;
}
.container7 {
  width: 995px;
  height: 344px;
  margin: 0 auto;
  margin-top: 200px;
  font-family: kalameh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.box3 {
  width: 370px;
  height: 324px;
  text-align: right;
  margin-top: 10px;
}
.text2 {
  color: #fcb816;
}
.box4 {
  width: 44px;
  height: 44px;
  background-color: #fcb816;
  border-radius: 50px;
  line-height: 44px;
  position: relative;
  top: 25px;
  left: 270px;
}
.box5 {
  width: 44px;
  height: 44px;
  background-color: #fcb816;
  border-radius: 50px;
  line-height: 44px;
  position: relative;
  bottom: 20px;
  left: 325px;
}
.container8 {
  width: 1035px;
  height: 688px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  font-family: kalameh;
}
.group-9 {
  width: 1035px;
  height: 415px;
  text-align: right;
  font-family: kalameh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 40px;
}
.card-body p {
  text-align: right;
  color: black;
}
.card-body a {
  text-decoration: none;
  color: black;
}
.card {
  display: flex;
  justify-content: space-between;
}
.text1 {
  color: #fcb816 !important;
}
.container9 {
  width: 879px;
  height: 614px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: kalameh;
}
.image {
  width: 538px;
  height: 146px;
  display: flex;
  position: relative;
  left: 175px;
}
.container9 h6 {
  text-align: center;
  color: #fcb816;
  margin-top: 20px;
}
.container9 h3 {
  text-align: center;
}
.container9 p {
  text-align: center;
  line-height: 2em;
  margin-top: 20px;
}
.box-1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 30px;
}
.box-2 {
  width: 107px;
  height: 67px;
  text-align: center;
  line-height: 67px;
}
.box-3 {
  width: 391px;
  height: 44px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  top: 100px;
  left: 200px;
}
.btn2 {
  width: 250px;
  height: 44px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 24px;
  border: 1px solid black;
  line-height: 30px;
}
.ellipse4 {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #fcb816;
  color: white;
}
.box-4 {
  width: 720px;
  height: 326px;
}
.box-5 {
  width: 346px;
  height: 324px;
}
.container10 {
  width: 1076px;
  height: 326px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  font-family: kalameh;
}
.box-4 {
  width: 720px;
  height: 324px;
}
.box-4 img {
  float: right;
  padding: 10px;
}
.box-5 {
  width: 346px;
  height: 324px;
}
.group63 {
  width: 316px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: kalameh;
  float: right;
}
.btn-dark {
  width: 119px;
  height: 42px;
  color: white;
  text-align: center;
  border-radius: 50px;
  float: left;
}
.text2 {
  display: inline-block;
  padding: 0 20px;
  color: #a2a2a2 !important;
}
.box6 {
  width: 44px;
  height: 44px;
  background-color: #fcb816;
  border-radius: 50px;
  line-height: 44px;
  position: relative;
  top: 25px;
  left: 240px;
}
.box7 {
  width: 44px;
  height: 44px;
  background-color: #fcb816;
  border-radius: 50px;
  line-height: 44px;
  position: relative;
  bottom: 20px;
  left: 300px;
}
.container11 {
  width: 1037px;
  height: 596px;
  font-family: kalameh;
  text-align: center;
  margin-top: 100px;
}
.fa1 {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 7px;
}
